*{
    margin: 0px;
    padding: 0px;;
}
body{
    font-size: 100%;
    background:#F8F8FF;    
}
.header{
    width: 40%;
    margin: 40px auto 0px;
    color:white;
    background: #8587eb;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
.header1{
    width: auto;
    margin: 40px auto 0px;
    color:white;
    background: #8587eb;
    text-align: center;
    border: 1px solid #B0C4DE;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 20px;
}
form{
    width: 40%;
    margin: 0px auto;
    padding: 20px;
    border:1px solid #B0C4DE;
    background: white;
    border-radius: 0px 0px 10px 10px;
}
.input-group{
    margin: 10px 0px 10px 0px;
}
.input-group label{
    display: block;
    text-align: left;
    margin: 3px;
}
.input-group input{
    height: 35px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
} 
.btnlogin{
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #655cdf; 
    border:none;
    border-radius: 5px;
    cursor: pointer;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 1100px;/*960px;  500px; */
    /*background-color: white;*/
}
#centeredContent1 {
    margin: 0 auto;
    padding: 20px;
    width: auto; /* 500px; */
    /*background-color: rgb(220, 217, 235);*/
}
.contentHeader{
    align-content: center;
    background-color: rgb(183, 182, 245);
}
table{
    background-color: #EEEEEE;
    border-collapse: collapse;
    width: 100%;
}
table th, table td{
    border: 1px solid #ddd;
    padding: 3px, 3px;
    text-align: left;
}
table th {
    font-size: 15px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #655cdf;
    color: white;
  }
  /* css for background image on home page */
  .masterbackground{
    background-image: url("/images/back/blue1.jpg");
    min-height: 100vh;
    background-color: #CCCCCC;
    background-position:initial;
    background-repeat:repeat;  
    background-size:contain;
    
}
/* css for CARD in card.php */
.card{
    width: 20rem;
    border-color: rgb(23, 23, 211);
    border-radius: 4px;
    background-color: #F2FFFF;
    box-shadow: 0 6px 10px rgba(0,0,0,0.08),0 0 6px rgba(0,0,0,0.05);
    transition : .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10;
    cursor: pointer;    
}
.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}
.img-top{
    border-radius: 15%;
    height: 200px;
    width: 255px;
}
.address{
    font-size: .925rem;
    font-family: Roboto,sans-serif;
}
.navbar-customt{
    background-color: #4433CC;
    
}
.mainHead{
    color: rgb(86, 86, 241);
    font-size: 25px;
    align-content: center;
    text-align: center;
}
.img-top-prof{
    border-radius: 15%;
    height: 210px;
    width: 230px;
}