<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../styleloginreg.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    
    <title>
        {% block title %}{% endblock %} - Bluesky Realestate
    </title>
</head>
<body>
    <div id="centeredContent">
        <h2 class="header1">Admin Interface</h2>
        <h4><a href="/">Home</a></h4>
        {% block content %}{% endblock %}
        <div id="footer">
            {% block footer %}
                <br>Copyright 2021 by <a href="http://domain.invalid">Bluesky Realestate Ltd.</a>
            {% endblock %}
        </div>
    </div>
</body>
</html>