{% extends "admin/master.html.twig" %}

{% block title %}Record not found{% endblock %}

{% block content %}
    <p>Record not found</p>
    <p><a href="/admin">Click here to continue..</a></p>
{% endblock %}