{% extends "admin/master.html.twig" %}

{% block title %}User list{% endblock %}

{% block content %}
    <a href="/admin/users/add">Create New User</a><br>
    <br>
    <table border="1">
        <tr>    
            <th>Id</th>
            <th>Email</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Phone</th>
            <th>Is Admin</th>
            <th>Action</th>
        </tr>
        {% for u in usersList %}
            <tr>
                <td>{{u.userID}}</td>
                <td>{{u.email}}</td>
                <td>{{u.firstName}}</td>
                <td>{{u.lastName}}</td>
                <td>{{u.phoneNum}}</td>
                <td>{{u.isAdmin}}</td>
                <td>
                    <a href="/admin/users/edit/{{u.userID}}">edit</a>
                    <a href="/admin/users/delete/{{u.userID}}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}