{% extends "admin/master.html.twig" %}
 {% block title %} User {% endblock %} 
    
 {% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="header">
        <h2>Update user information</h2>
    </div>    

    <form method="POST">
    
        <div class="input-group">
            <label>Email : </label>
            <input type="text" name="email" value="{{v.email}}"> 
            <span class="errorMessage" id="emailTaken"></span>
        </div>
        
        <div class="input-group">
            <label>First name : </label>
            <input type="text" name="firstname" value="{{v.firstName}}"> 
        </div>
        <div class="input-group">
            <label>Last name : </label>
            <input type="text" name="lastname" value="{{v.lastName}}"> 
        </div>
        <div class="input-group">
            <label>Phone : </label>
            <input type="text" name="phone" value="{{v.phoneNum}}"> 
        </div>
        {% if op == 'edit' %}
            <p>(Only provide password if you are changing it for this user)</p>
        {% endif %}
           
        <div class="input-group">
            <label>Password : </label>
            <input type="password" name="password_1"> 
        </div>
        <div class="input-group">
            <label>Confirm Password : </label>
            <input type="password" name="password_2"> 
        </div>
        <div class="input-group">
            <label>Is Admin ?: 
            <input type="checkbox" name="isadmin" value="1" {% if v.isAdmin %} checked{% endif %}>

            </label>
        </div>
        
        <div >
            <input type="submit" name="register" class="btnlogin" value="{% if op == 'edit' %}Update user {% else %}Add user{% endif %}">
                 
        </div> 
         
    </form>
    
 {% endblock %}