{% extends "admin/master.html.twig" %}

{% block title %}Delete user{% endblock %}

{% block content %}
    <h3 class="header">Delete user confirmation</h3>
    <form method="POST">
        <div class="input-group">
            <label>Email : </label>
            <input type="label" disabled name="email" value="{{v.email}}"> 
            <label>Is admin ?</label>
                        
            <input type="text" disabled value="{% if v.isAdmin %}yes{% else %}no{% endif %}"><br>
        </div>
        <div class="input-group">
            <p>Please confirm the action. You can not rollback.</p>
            <button type="submit"  class="btnlogin" name="delete1">Yes, Delete</button>
        </div>         
    </form>
    <a href="/admin/users/list">Cancel - go back to the list</a>
{% endblock %}
