{% extends "master_old.html.twig" %}
{% block title %}No property found{% endblock %}
{% block body %}<body class="">{% endblock %}
{% block content %}
<div class="container my-4">
    <h2 class="text-center"> You do not have access to this url.</h2>
</div>

{% endblock %}