{% extends "master_old.html.twig" %}
{% block title %}Adding new Property
{% endblock %}

{% block content %}
<div class="container py-3 bg-white">
	<h1 class="text-center ">Add place to market</h1>
	<h5 class="text-center">Remeber: the more information you add the better!</h5>
	<p class="mx-4"><b>*required</b></p>
	<div class="row">
		<div class="col-12">
			<form method="post" class=" p-3 row col-12 border-0" enctype="multipart/form-data">
				<div class="my-2 row col-12">
					<div class="col-6">
						Address:*
					</div>
					<input class="col-5 mx-2" id="address" type="text" name="address" value="{{property.address}}">
					{% if errorList.address %}<p class="text-danger">{{errorList.address}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">Apartment Number:</div>
					<input class="col-5 mx-2" type="text" name="aptNum" value="{{property.apartmentNum}}">
					{% if errorList.apt %}<p class="text-danger">{{errorList.apt}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						City:*</div>
					<input class="col-5 mx-2" id="city" type="text" name="city" value="{{property.city}}">
					{% if errorList.city %}<p class="text-danger">{{errorList.city}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Province:*</div>
					<input class="col-5 mx-2" id="province" type="text" name="province" value="{{property.province}}">
					{% if errorList.province %}<p class="text-danger">{{errorList.province}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Country:*</div>
					<input class="col-5 mx-2" id="country" type="text" name="country" value="{{property.country}}">
					{% if errorList.country %}<p class="text-danger">{{errorList.country}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Postal Code:*</div>
					<input class="col-5 mx-2" type="text" id="postal" name="postal" value="{{property.postalCode}}" style="text-transform: uppercase">
					{% if errorList.postal %}<p class="text-danger">{{errorList.postal}}</p>{% endif %}
				</div>
				<p>Choose your picture(s) of your place and choose the one that you would like to display first(if only one is entered it will choose that one automatically).</p>
				<div class="m-2 col-12 row" id="picture">
					{% if errorList.photo %}<p class="text-danger">{{errorList.photo}}</p>{% endif %}
					{% if pic %}
					{% for p in pic %}
					<div class="col-12">
						<input class="mx-2" type="radio" name="isPrio" id="isprio{{loop.index0}} " value="{{loop.index0}}" {% if p.isPrio == 1 %} checked {% endif %}>
						<img id="pic{{loop.index0}}" src="{{p.photopath}}" alt="your picture" width="200">
						<button class="btn btn-info "></button>
					</div>
					{% if loop.last %}
					<div class="col-12">
						<input class="mx-2 d-none" type="radio" name="isPrio" id="isprio{{loop.index}}" value="{{loop.index}}">
						<input type="file" id="photo{{loop.index}}" name="photo[]" accept="image/*" onchange="newPhoto()">
						<img class="d-none" id="pic{{loop.index}}" src="#" alt="your picture" width="200">
					</div>
					{% endif %}
					{% endfor %}
					{% else %}
					<div class="col-12">
						<input class="mx-2 d-none" type="radio" name="isPrio" id="isprio0" value="0">
						<input type="file" id="photo0" name="photo[]" accept="image/*" onchange="newPhoto(event)">
						<img class="d-none" id="pic0" src="#" alt="your picture" width="200">
					</div>
					{% endif %}
					


				</div>
				<div class=" border mx-4  my-2 col-10">
					<div>Type of place:*</div>
					<div>
						<input class="mx-2" type="radio" name="typeOfHouse" id="house" value="House" {% if property.propertyType is same as("House") %} checked{% endif %}>
						<label for="house">House</label>
					</div>
					<div>
						<input class="mx-2" type="radio" name="typeOfHouse" id="condo" value="Condo" {% if property.propertyType is same as("Condo") %} checked{% endif %}>
						<label for="condo">Condo</label>
					</div>
					<div>
						<input class="mx-2" type="radio" name="typeOfHouse" id="apartment" value="Apartment" {% if property.propertyType is same as("Apartment") %} checked{% endif %}>
						<label for="apartment">Apartment</label>
					</div>
					<div>
						<input class="mx-2" type="radio" name="typeOfHouse" id="duplex" value="Duplex" {% if property.propertyType is same as("Duplex") %} checked{% endif %}>
						<label for="duplex">Duplex</label>
						<br>
					</div>
					<div>
						<input class="mx-2" type="radio" name="typeOfHouse" id="triplex" value="Triplex" {% if property.propertyType is same as("Triplex") %} checked{% endif %}>
						<label for="triplex">Triplex</label>
					</div>
					{% if errorList.propertyType %}<p class="text-danger">{{errorList.propertyType}}</p>{% endif %}
				</div>
				<div class=" border mx-4 my-2 col-10">
					<div>
						Selling or renting:*</div>
					<div>
						<input class="mx-2" type="radio" name="sellRent" id="sell" value="Sell" {% if property.sellRent is same as("Sell") %} checked {% endif %}>
						<label for="sell">Sell</label>
					</div>
					<div>
						<input class="mx-2" type="radio" name="sellRent" id="rent" value="Rent" {% if property.sellRent is same as("Rent")%} checked {% endif %}>
						<label for="rent">Rent</label>
					</div>
					{% if edit %}
					<div>
						<input class="mx-2" type="radio" name="sellRent" id="notForSale" value="Not for Sale" {% if property.sellRent is same as("Not for Sale")%} checked {% endif %}>
						<label for="rent">Rent</label>
					</div>
					{% endif %}
					{% if errorList.sellRent %}<p class="text-danger">{{errorList.sellRent}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Asking Price:*</div>
					<input class="col-5 mx-2" type="number" min="0" step="1"  pattern="\d*"name="askingPrice" value="{{property.askingPrice}}">
					{% if errorList.askingPrice %}<p class="text-danger">{{errorList.askingPrice}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Year built:*</div>
					<input class="col-5 mx-2" type="number" min="0" step="1" pattern="\d*" name="yearBuilt" id="yearBuilt" value="{{property.yearBuilt}}">
					{% if errorList.yearBuilt %}<p class="text-danger">{{errorList.yearBuilt}}</p>{% endif %}
				</div>

				<div class="my-2 row col-12">
					<div class="col-6">
						Property size(ft<sup>2</sup>):</div>
					<input class="col-5 mx-2" type="number" min="0" step="1" pattern="\d*" name="squareFoot" id="feet" value="{{property.squareFoot}}">
					{% if errorList.squareFoot %}<p class="text-danger">{{errorList.squareFoot}}</p>{% endif %}
				</div>

				<div class="my-2 row col-12">
					<div class="col-6">
						Number of rooms:</div>
					<input class="col-5 mx-2" type="number" min="0" step=".5" name="rooms" id="rooms"value="{{property.room}}">
				</div>


				<div class="my-2 row col-12">
					<div class="col-6">
						Number of bedrooms:</div>
					<input class="col-5 mx-2" type="number" min="0" step="1" pattern="\d*" name="bedrooms" id="bedrooms" value="{{property.bedroom}}">
					{% if errorList.bedrooms %}<p class="text-danger">{{errorList.bedrooms}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Number of bathrooms:</div>
					<input class="col-5 mx-2" type="number" min="0" step="1"  pattern="\d*" name="bathrooms" id="bathrooms" value="{{property.bathroom}}">
					{% if errorList.bathrooms %}<p class="text-danger">{{errorList.bathrooms}}</p>{% endif %}
				</div>
				<div class="my-2 row col-12">
					<div class="col-6">
						Size of backyard(ft<sup>2</sup>):
					</div>
					<input class="col-5 mx-2" type="number" min="0" step="1" pattern="\d*" name="backyardSize" id="backyard" value="{{property.backyardSize}}">
					{% if errorList.backyardSize %}<p class="text-danger">{{errorList.backyardSize}}</p>{% endif %}
				</div>
					<div class="col-12 border mx-3 my-2">
						Parking:
						<div>
							<input class="mx-2" type="radio" name="parking" id="parkingYes" value="1" {% if property.parking == 1 %} checked {% endif %}>
							<label for="parkingYes">Yes</label>
						</div>
						<div>
							<input class="mx-2" type="radio" name="parking" id="parkingNo" value="0"{% if property.parking is same as(0) %} checked {% endif %}>
							<label for="parkingNo">No</label>
						</div>

					</div>
					<div class="col-12">
						Description(anything you would like to highlight about the property max:300 characters)</div>
					<textarea class="col-12 mx-3 " rows="3" maxlength="300" name="description" id="description" value="{{property.description}}"></textarea>

					<input class="d-none" type="text" name="long" id="long">

					<input class="d-none" type="text" name="lat" id="lat">
					<input class="d-none" id='final' type="submit" value="Submit">
				</form>
				<div class="mx-auto d-flex"> <input class=" btn btn-info mx-auto my-3 p-3" type="submit" value="Submit" onclick="getLongLat()"></div>
				
			</div>
		</div>
	</div>

	{% endblock %}
    {% block scripts %}
    <script>

        function newPhoto(event) {
            if (event.target.value) {

                let num = event.target.id.slice(5);
                let pic = "pic" + num;
                var image = document.getElementById(pic);
                $("#" + pic).removeClass("d-none");
                $("#isprio" + num).removeClass("d-none");
                $(event.target).addClass("d-none")
                image.src = URL.createObjectURL(event.target.files[0]);
                num++;
                const newPictureDiv = document.createElement("div");
                const newRadio = document.createElement("input");
                newRadio.type = "radio";
                newRadio.id = "isprio" + num;
                newRadio.name = "isPrio";
                newRadio.value = num;
                $(newRadio).addClass("mx-2").addClass("d-none").appendTo(newPictureDiv);
                const newInput = document.createElement("input");
                newInput.type = "file";
                newInput.id = "photo" + num;
                newInput.name = "photo[]";
                newInput.accept = "image/*";
                newInput.addEventListener("change", (e) => {
                    newPhoto(e);
                });
                $(newInput).appendTo(newPictureDiv);
                const newImg = document.createElement("img");
                newImg.id = "pic" + num;
                newImg.src = "#";
                newImg.alt = "your picture " + num
                newImg.width = 200;
                $(newImg).addClass("d-none").appendTo(newPictureDiv);
                $(newPictureDiv).addClass("col-12").addClass("my-2").appendTo("#picture");
            }

        };

		function getLongLat(){
			let apiAddress = "http://www.mapquestapi.com/geocoding/v1/address?key=x7OzgCqOlv76ilGf8sxlICDji2Ipho4A&location=";
			let address = $("#address").val();
      		address = address.replace(" ","+");
			let city = $("#city").val();
      		city = city.replace(" ","+");
			let province = $("#province").val();
			province = province.replace(" ","+");
			let country = $("#country").val();
      		country = country.replace(" ","+");
			let postal = $("#postal").val();
      		postal = postal.replace(" ","+").toUpperCase();
      		let fullAddress = address+"%2C"+city+"+"+ province+"+"+ country+"%2C"+postal;
      		let fullApiAddress = apiAddress.concat(fullAddress);
      		$.ajax(fullApiAddress).done( function(data){
        		$("#long").val(data.results[0].locations[0].displayLatLng.lng);
        		$("#lat").val(data.results[0].locations[0].displayLatLng.lat);
				$("#final").click();
      		}).fail(function(){
				$("#final").click();
			  });
			 
		}
    </script>
    
    {% endblock %}