{% extends "master.html.twig" %}
{% block title %} Agent detail{% endblock %}

{% block head %}Agent detail{% endblock %}
{% block content %}
    <div>
        <img src="/images/agent/agent1.jpg" style="width:20%;height:20%"  alt="agent">
    </div>
    <div>
        <img src="/images/agent/agent1.jpg" style="width:20%;height:20%"  alt="agent">
    </div>
    <div>
        <img src="/images/agent/agent1.jpg" style="width:20%;height:20%"  alt="agent">
    </div>
    <div>
        <img src="/images/agent/agent1.jpg" style="width:20%;height:20%"  alt="agent">
    </div>
    <div>
        <img src="/images/agent/agent1.jpg" style="width:20%;height:20%"  alt="agent">
    </div>
    <div>
        <h3>Eric Larouche </h3>
        <h2>
        Residential Real Estate Broker
        Eric Larouche Inc.
        </h2>
        <p>
            More information<br>
            Holds a valid practicing certificate of OACIQ<br>
            Holds professional liability insurance<br>
            Speaks French<br>
        </p>
        
    </div>
    
{% endblock %}