{% extends "master.html.twig" %}

{% block title %}Chart{% endblock %}
{% block head %}
<script src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<!--<script type="text/javascript">google.load('visualization','1.0',{packages:['corechart']});</script> -->
    <script type="text/javascript">
        
        /*function LoadGoogle(){
            google.charts.load('current',{
                callback:drawChart,
                packages:['corechart']
            });
        */
        google.charts.load('current',{'packages':['corechart']});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart(){  
           // alert (list);          
            var data = google.visualization.arrayToDataTable([
                ['PropertyType' ,'number'],                
                   {% for row in list %}                   
                        ["{{row.propertyType}}", {{row.number}}],
                    {% endfor %}
                
            ]);
            //alert (list);
            var options={
                title:'Property Type'
            };
            var chart = new google.visualization.PieChart(document.getElementById('piechart'));
            chart.draw(data,options);
            }
        //}
        //LoadGoogle();
    </script>
{% endblock %}
{% block content %}
    <div style="width:900px;">
        <h3>Pie Chart using google Chart API</h3>
        <br>
        <div id="piechart" style="width:900px; height:500px;">

        </div>
    </div>
{% endblock %}