{% extends "master_old.html.twig" %}
{% block title %}See properties on map
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
	<style>
		/* Set the size of the div element that contains the map */
		#map {
			height: 600px;
			/* The height is 400 pixels */
			width: 100%;
			/* The width is the width of the web page */
			border: 1px solid red;

		}

		#cards-list {}

		.property-card {
			border: 1px solid red
		}
	</style>
{% endblock %}

{% block content %}

	<div>

		<!--The div element for the map -->
		<div class="container bg-white p-3">
			<div id="search-bar">
				<div class="form-inline my-2 my-lg-0 row ">
					<div class="col col-lg-6 ">
						<input class="form-control mr-sm-2" type="search" placeholder="Search property by city" aria-label="Search" id="inputCity">
						<button class="btn btn-outline-primary my-2 my-sm-0" onclick="searchCity()">Search</button>
					</div>
					<div class="col col-lg-2">
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioSaleRent" id="flexRadioSale" onclick="saleCheck()">
							<label class="form-check-label" for="flexRadioSaleRent">
								For sale
							</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="flexRadioSaleRent" id="flexRadioRent" onclick="rentCheck()" checked>
							<label class="form-check-label" for="flexRadioSaleRent">
								For rent
							</label>
						</div>
					</div>

					<div class="col col-lg-2">
						<div class="dropdown">
							<button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Type of Property
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="form-check dropdown-item">
									<input class="form-check-input" type="checkbox" value="" id="houseChecked" onclick="isChecked()" checked>
									<label class="form-check-label" for="flexCheckChecked">
										House
									</label>
								</div>
								<div class="form-check dropdown-item">
									<input class="form-check-input" type="checkbox" value="" id="condoChecked" onclick="isChecked()" checked>
									<label class="form-check-label" for="flexCheckChecked">
										Condo
									</label>
								</div>
								<div class="form-check dropdown-item">
									<input class="form-check-input" type="checkbox" value="" id="apartmentChecked" onclick="isChecked()" checked>
									<label class="form-check-label" for="flexCheckChecked">
										Apartment
									</label>
								</div>
								<div class="form-check dropdown-item">
									<input class="form-check-input" type="checkbox" value="" id="duplexChecked" onclick="isChecked()" checked>
									<label class="form-check-label" for="flexCheckChecked">
										Duplex
									</label>
								</div>
								<div class="form-check dropdown-item">
									<input class="form-check-input" type="checkbox" value="" id="triplexChecked" onclick="isChecked()" checked>
									<label class="form-check-label" for="flexCheckChecked">
										Triplex
									</label>
								</div>

							</div>
						</div>
					</div>
					<div class="col col-lg-2 ">
						<div class="dropdown ">
							<button class="btn btn-outline-primary dropdown-toggle " type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								Price
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<div class="form-check dropdown-item">
									<label class="form-check-label" for="flexCheckChecked">
										Min $ &nbsp;
									</label>
									<input type="text" class="form-control" style="width: 8rem" value="0.00" id="priceMin" oninput="isPrice()">
								</div>
								<div class="form-check dropdown-item">
									<label class="form-check-label" for="flexCheckChecked">
										Max $ &nbsp;
									</label>
									<input type="text" class="form-control" style="width: 8rem" value="1000000.00" id="priceMax" oninput="isPrice()">
								</div>
							</div>
						</div>
					</div>


				</div>


			</div>

			<div class="row p-2">
				<div class="text-primary p-2">
					<a href="/collection" style="text-decoration: none">
						<i class="fas fa-th"></i>
						Gallery</a>
				</div>
				<div class="rounded text-primary p-2">
					<a href="/map" style="text-decoration: none">
						<i class="fas fa-map-marked-alt"></i>
						Map</i>
				</a>
			</div>
		</div>
		<div class="row">
			{# <!-- map left side -->
							<div id="map" class="col"></div> #}
			<!-- cards right side -->
				<div id="cards-list" class="col"> <div id="mapcards" class="row"></div>

			</div>
		</div>
	</div>

	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCb1HIZ5M5GdrV4VD9jCZmp-2uE_4ErWGE&callback=initMap&libraries=&v=weekly" async></script>
	<script src="../collection.js"></script>
{% endblock %}
