{% extends "master_old.html.twig" %}
{% block title %}Internal Error{% endblock %}
{% block content %}
<div class="mh-100 container text-center p-5 bg-white " style="height: 100vh;">
    <h3>Internal error</h3>
    <p>Their has been an interal error our team will fix it as soon as possible </p>
</div>

{% endblock %}
{% block footer %} fixed-bottom{% endblock %}