{% extends "master.html.twig" %}
{% block title %}
{% endblock %}


{% block content %}

<body  id="imageChange" class="masterbackground">
<div class="container">
    <div id="centeredContent1">
    
        <div class="thing" id="wrapper">
        <div><img src="images/slick/back1.jpg" alt="slick image"></div>
        <div><img src="images/slick/back2.jpg" alt="slick image"></div>
        <div><img src="images/slick/back3.jpg" alt="slick image"></div>
        <div><img src="images/slick/back4.jpg" alt="slick image"></div>
        <div><img src="images/slick/back5.jpg" alt="slick image"></div>
        <div><img src="images/slick/back6.jpg" alt="slick image"></div>
        <div><img src="images/slick/back7.jpg" alt="slick image"></div>
        </div>
        
    
    </div>   
</div>

<script src="js/jQuery-3.2.1.js" type="text/javascript"></script>
<script src="js/slick.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.thing').slick({
            dots: true,
            arrow: true,
            autoplay:true,
            autoplaySpeed: 2000
        });
    });
</script>
    
</body>

<div class="container">
<div class="card-deck mb-4">
        <div class="card" style="border-color: blue; border-radius: 4px; background-color: #F2FFFF;">
            <a href="/images/agent/agent1.jpg" alt="agent pic">
                <img src="/images/agent/agent1.jpg" class="img-top-prof" alt="home1">
            </a>
            <div class="card-body">
                <h6 class="card-title">Contact us </h6>
                <div class="address">For more information call us.
                </div><br>
                <a href="/agent" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/images/agent/agent2.jpg" alt="agent pic">
                <img src="/images/agent/agent2.jpg" class="img-top-prof" alt="home1">
            </a>
            <div class="card-body">
                <h5 class="card-title">Contact us </h5>
                <div class="address">For more information call us.</div><br>
                <a href="/agent" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/images/agent/agent3.jpg" alt="agent pic">
                <img src="/images/agent/agent3.jpg" class="img-top-prof" alt="home1">
            </a>
            <div class="card-body">
                <h5 class="card-title">Contact us</h5>
                <div class="address">For more information call us.</div><br>
                <a href="/agent" class="btn btn-primary">Click here</a>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <a href="/images/agent/agent4.jpg" alt="agent pic">
                <img src="images/agent/agent4.jpg" class="img-top-prof" alt="home1">
            </a>
            <div class="card-body">
                <h5 class="card-title">Contact us</h5>
                <div class="address">For more information call us.</div><br>
                <a href="/agent" class="btn btn-primary">Click here</a>
            </div>
        </div>
    </div>

<div class="container-fluid text-center">
        <h5>Do You Need To Sell Your House in Montreal, Quebec?</h3>
        <p>
        Even if an agent can’t sell your house, we can help. (Sometimes selling a house through a real estate agent is not for everyone.)
        </p>
        <p>
        We Buy Montreal HousesWe’ll know very quickly if we can help you, and unlike selling through an agent, you don’t have to wait to see if the buyer can get financing… we’re ready to buy right now!
        </p>
    </div>
</div>

{% endblock %}