
{% extends "master.html.twig" %}
 {% block title %} Login {% endblock %} 
 {% block content %}
    {% if error %}
        <p class="errorMessage">Invalid username or password. Try again or <a href="/register">register</a>.</p>

    {% endif %}
    <div class="header">
        <h3>Login</h3>
    </div>    

    <form method="POST" action="login">
        <div class="input-group">
            <label>Email : </label>
            <input type="text" name="email"/>                
        </div>
        <div class="input-group">
            <label>Password : </label>
            <input type="password" name="password"> 
        </div>
        <div class="input-group">
            <button type="submit" name="login" class="btnlogin">
                Login
            </button>
        </div> 
        <p>Not yet a memeber ? <a href="/register">Sign up </a>
        <p>Forgot password ? <a href="/passreset_request">Forgot password</a>
        </p> 
    </form>
 {% endblock %}