<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleloginreg.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!--<script src="../script.js"></script>-->
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B4Z73PHSMH');
</script>

    <title>
        {% block title %}Blue sky real estate{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-3" style="font-size: 1.25rem;">
        <a class="navbar-brand" href="/">Bluesky Realestate</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav w-50 mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addproperty" {% if not userSession %}disabled{% endif %}>Sell</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy or Rent</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/map">Find a property by map</a> 
                        <a class="dropdown-item" href="/collection">Find a property through collection</a> 
                        <a class="dropdown-item" href="/chart">Property Type Chart </a>  
                    </div>
                </li>

            </ul>
            <div class="d-flex">
                {% if userSession %}
                <div class="d-flex"><p class="my-auto">You are logged in as <b> {{userSession.firstName}}</b></p></div>
                    
                     <div class="px-5 d-flex fs-5"><a href="/logout">Logout</a></div>
                    {% if userSession.isAdmin %}
                    <span><a class="fs-5" href="/admin/users/list">Access Admin Interface </a></span>
                    {% endif %}
                 {% else %}
                        <a href="/login">Login</a>
                {% endif %}
                </li>
            </div>
        </div>
    </nav>
    
               
</head>
{% if flashMessage %}<div class="bg-warning text-center">{{flashMessage}}</div>{% endif %}

    <body style="background: #8587eb;">
        
    <div id="container">
        
        {% block content %}

        {% endblock %}
           
    </div>
    



<footer class="page-footer font-small teal pt-4 bg-light {% block footer %} {% endblock %} ">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left ">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Footer text 1</h5>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Expedita sapiente sint, nulla, nihil
            repudiandae commodi voluptatibus corrupti animi sequi aliquid magnam debitis, maxime quam recusandae
            harum esse fugiat. Itaque, culpa?</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Footer text 2</h5>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio deserunt fuga perferendis modi earum
            commodi aperiam temporibus quod nulla nesciunt aliquid debitis ullam omnis quos ipsam, aspernatur id
            excepturi hic.</p>
        </div>
      </div>
   </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>    
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}

</body>
</html>

