<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleloginreg.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap-responsive.css">
    
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">
    <link rel="stylesheet" href="css/styleslick.css">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!--<script src="../script.js"></script>-->
    <!--<script text="text/javascript">
    $().ready(function(){
    var i=0;
    var images=[
        '/images/back/back1.jpg',
        '/images/back/back2.jpg',
        '/images/back/back3.jpg',
        '/images/back/back4.jpg',
        '/images/back/back5.jpg',
        '/images/back/back6.jpg'                                
    ]
    var image = $('#imageChange')
    image.css('background-image','url(/images/back/back1.jpg)');

    setInterval(function(){
        image.css('background-image','url(' + images[i++] +')')
        if(i == images.length)
        i=0
    },5000);
    })
    </script>-->
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-B4Z73PHSMH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-B4Z73PHSMH');
</script>

    <title>
        {% block title %}Blue sky real estate{% endblock %}
    </title>
    {% block head %}{% endblock %}
    <nav class="navbar navbar-expand-sm navbar-light bg-light py-3" style="font-size: 1.25rem;">
        <a class="navbar-brand" href="/">Bluesky Realestate</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav w-50 mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/addproperty" {% if not userSession %}disabled{% endif %}>Sell</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Buy or Rent</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="/map">Find a property by map</a> 
                        <a class="dropdown-item" href="/collection">Find a property through collection</a> 
                        <a class="dropdown-item" href="/chart">Property Type Chart </a>  
                    </div>
                </li>

            </ul>
            <div class="d-flex">
                {% if userSession %}
                <div class="d-flex"><p class="my-auto">You are logged in as <b> {{userSession.firstName}}</b></p></div>
                    
                     <div class="px-5 d-flex fs-5"><a href="/logout">Logout</a></div>
                    {% if userSession.isAdmin %}
                    <span><a class="fs-5" href="/admin/users/list">Access Admin Interface </a></span>
                    {% endif %}
                 {% else %}
                        <a href="/login">Login</a>
                {% endif %}
                </li>
            </div>
        </div>
    </nav>
    
               
</head>
{% if flashMessage %}<div class="bg-warning text-center">{{flashMessage}}</div>{% endif %}

    <body  id="imageChange" class="masterbackground">
    <div id="leftText">
        <h3 class="mainHead">Buy your Dream House with Bluesky Realestate </h3>
    </div>
    
    <div id="centeredContent">
        <!--<div id="centeredContent">-->
        {% block content %}

        {% endblock %}
           
    </div>
    </body>

  {% block scripts %}{% endblock %}
  <!--fixed-bottom -->
  <footer class="page-footer font-small teal pt-4 bg-light ">
    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">AN ADVISER WHO WILL GUIDE YOU</h5>
            <p>Buying a home, condo or any type of property is an important decision. It is essential that 
            you be well advised and, above all, well protected. A real estate broker is the professional to 
            turn to for a successful transaction that provides peace of mind, a sense of security and 
            greater ease. Here are some advantages of working with a professional.</p>
        </div>
        <!-- Grid column -->
        <hr class="clearfix w-100 d-md-none pb-3">
        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">
          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">A fair price</h5>
            <p>Real estate brokers have the necessary resources and expertise to accurately assess the value 
            of the properties you’re interested in. They have access to market statistics and advanced tools 
            that enable them to perform a comparative market analysis. You will therefore become an informed 
            buyer and will ensure that you pay a fair price for your new home.</p>
        </div>
      </div>
   </div>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="http://blueskyrealestate.ipd24.ca/"> Bluesky realestate</a>
    </div>
    <!-- Copyright -->
  
  </footer>

</html>

