{% extends "master_old.html.twig" %}
{% block title %}No property found{% endblock %}
{% block body %}<body class="">{% endblock %}
{% block content %}
<div class="container my-4">
    <h2 class="text-center"> This property doesn't exist on our site.</h2>
    <h2 class="text-center">Please try again.</h2>
</div>

{% endblock %}
