
{% extends "master.html.twig" %}

 {% block title %} Password reset request {% endblock %} 
 {% block content %}
    
    <div class="header">
        <h2>Password reset mail</h2>
    </div>    

    <form method="POST">
        <div class="input-group">
            <label>Email : </label>
            <input type="text" name="email"/>                
        </div>
        <div class="input-group">
            <button type="submit" name="login" class="btnlogin">
                Send reset password mail
            </button>
        </div> 
         
    </form>
 {% endblock %}