{% extends "master.html.twig" %}
{% block title %}Mail sent{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    Password reset has been sent (if an account with this email exist).Check your email in a moment.<br>
    <a href="/">Click to continue.</a>
{% endblock %}