{% extends "master.html.twig" %}

{% block title %}
    Password reset successful
{% endblock %}

{% block header %}{% endblock %}

{% block content %}
    Password reset successfull.<br>
    <a href="">Click to continue..</a>
{% endblock %}