{% extends "master.html.twig" %}
{% block title %}Password reset{% endblock %}

{% block header %}{% endblock %}
{% block content %}
    Password reset token not found or not valid.<br>
    <a href="/">Click to continue.</a>
{% endblock %}