{% extends "master.html.twig" %}
 {% block title %} Password reset {% endblock %} 
   
 {% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="header">
        <h2>Password reset</h2>
    </div>    

    <form method="POST">    
        <div class="input-group">
            <label>New password : </label>
            <input type="password" name="password_1"> 
        </div>
        <div class="input-group">
            <label>New Password (repeat) : </label>
            <input type="password" name="password_2"> 
        </div>
        <div class="input-group">
            <button type="submit" name="passreset" class="btnlogin">
                Change password
            </button>
        </div> 
        
    </form>
    
 {% endblock %}