{% extends "master_old.html.twig" %}
{% block title %}{{property.address}}{% endblock %}
{% block content %}
<h2 class="text-center p-3">{{property.address}}{% if property.apartmentNum %} apt#{{property.apartmentNum}}{% endif %}</h2>
<div id="carouselPropertyControls" class="carousel slide my-4 container" data-ride="0">
    <ol class="carousel-indicators">
        {% for photo in photos %}
            {% if loop.first %}
                <li data-target="#carouselPropertyControls" data-slide-to="0" class="active"></li>
            {% else %}
                <li data-target="#carouselPropertyControls" data-slide-to="{{loop.index0}}"></li>
            {% endif %}
            
        {% endfor %}
      </ol>
    <div class="carousel-inner">
        {% for photo in photos %}
        {% if loop.first %}
            <div class="carousel-item active">
                <img class="d-block mx-auto"width="750" src="\photo/{{photo}}" alt="Property photo 1">
            </div>
        {% else %}
            <div class="carousel-item ">
                <img class="d-block mx-auto" width="750" src="\photo/{{photo}}" alt="Property photo {{loop.index}}">
            </div>
        {% endif %}
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselPropertyControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselPropertyControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <div class="container mx-auto my-3">
  {% if owner %}
    <form action="/editproperty/{{property.propertyID}}" method="get" class="row w-100 border-0" style="background-color: #8587eb;">
      <input type="submit" value="Edit" class="btn btn-info col-2 offset-1 btn-lg">
      
      <input type="submit" value="Remove" class="btn btn-info col-2 offset-5 btn-lg " >
      
    </form>
  {% endif %}
  {% if property.sellRent is same as(3) %}
  <h3 class="p-2"> Not for sale/rent anymore</h3>
  {% else %}
  <div class="row">
        <div class="col-6">
          <h3 class="p-2">Asking Price: ${{property.askingPrice}} {% if property.sellRent is same as(2) %} per month{% endif %}</h3>
        </div>
        {% if not owner %}
        <form  method="post" class="row w-100 border-0" style="background-color: #8587eb;">
          <input type="submit" value="Ask for a visit" class="btn btn-info btn-lg"  ></button>
      </form>
        {% endif %}

  </div>
    
  {% endif %}
<table class=" border">
  <tr>
    <th>Type of property</th>
    <td>{{property.propertyType}}</td>
  </tr>
  {% if property.description %}
  <tr>
    <th>Description</th>
    <td >{{property.description}}</td>
  </tr>
  {% endif %}
  <tr>
    <th>Year built:</th>
    <td>{{property.yearBuilt}}</td>
  </tr>
  {% if property.squareFoot %}
  <tr>
    <th>Property size(ft<sup>2</sup>):</th>
    <td>{{property.squareFoot}}</td>
  </tr>
  {% endif %}
  {% if property.room %}
  <tr>
    <th>Total amount of room(s):</th>
    <td>{{property.room}}</td>
  </tr>
  {% endif %}
  {% if property.bedroom %}
  <tr>
    <th>Amount of bedroom(s):</th>
    <td>{{property.bedroom}}</td>
  </tr>
  {% endif %}
  {% if property.bathroom %}
  <tr>
    <th>Amount of bathroom(s):</th>
    <td>{{property.bathroom}}</td>
  </tr>
  {% endif %}
  {% if property.parking %}
  <tr>
    <th>Is their parking?</th>
    <td>{% if property.parking == 0 %}No{% else %}Yes{% endif %}</td>
  </tr>
  {% endif %}
  {% if property.backyardSize %}
  <tr>
    <th>Backyard size(ft<sup>2</sup>):</th>
    <td>{{property.backyardSize}}</td>
  </tr>
  {% endif %}
</table>
  </div>
{% endblock %}