{% extends "master.html.twig" %}
 {% block title %} Register {% endblock %} 
    {% block head %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
               // alert("Jquery works nicely");
                $('input[name=email]').on('paste blur change input', function (){
                    var email= $('input[name=email]').val();
                    $("#emailTaken").load("/isemailtaken/" +email);
                });

                $(document).ajaxError(function(event, jqxhr, settings, thrownError){
                    console.log("Ajax error occured on " + settings.url);
                    alert("Ajax error occured");
                });
            });
        </script>
    {% endblock %}


 {% block content %}
    {% if errorList %}
        <ul class="errorMessage">
        {% for error in errorList %}
            <li>{{error}}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <div class="header">
        <h3>Register</h3>
    </div>    

    <form method="POST" action="register">
    
        <div class="input-group">
            <label>Email : </label>
            <input type="text" name="email" value="{{v.email}}"> 
            <span class="errorMessage" id="emailTaken"></span>
        </div>
        
        <div class="input-group">
            <label>First name : </label>
            <input type="text" name="firstname" value="{{v.firstname}}"> 
        </div>
        <div class="input-group">
            <label>Last name : </label>
            <input type="text" name="lastname"> 
        </div>
        <div class="input-group">
            <label>Phone : </label>
            <input type="text" name="phone"> 
        </div>
        <!--<div class="input-group">
            <label>Is Admin : 
            <input type="checkbox" name="isadmin"> 
            </label>
        </div>-->
        
        <div class="input-group">
            <label>Password : </label>
            <input type="password" name="password_1"> 
        </div>
        <div class="input-group">
            <label>Confirm Password : </label>
            <input type="password" name="password_2"> 
        </div>
        <div class="input-group">
            <button type="submit" name="register" class="btnlogin">
                Register
            </button>
        </div> 
        <p>Already a memeber ? <a href="login">Sign in</a>
        </p> 
    </form>
    
 {% endblock %}